@page "/countrylist"

@inject ICountryService CountryService;

<PageTitle>Countries List</PageTitle>

<h3>Countries List</h3>

<SfGrid DataSource="@countries">
    <GridColumns>
        <GridColumn Field="@nameof(Country.CountryId)"
                    HeaderText="Country ID"
                    TextAlign="@TextAlign.Left"
                    Width = "20">
        </GridColumn>
        <GridColumn Field="@nameof(Country.CountryName)"
                    HeaderText="Country Name"
                    TextAlign="@TextAlign.Left"
                    Width = "80">
        </GridColumn>
    </GridColumns>
</SfGrid>

@code {
    public List<Country>? countries;

    public string SyncfusionKey = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await CountryService.GetCountries();

        countries = new();

        foreach (var country in CountryService.Countries)
                countries.Add(country);
    }    
}