@page "/"
@inject ICountryService CountryService;

<PageTitle>Countries & Cities List</PageTitle>

<h3>Countries and Cities</h3>
<div class="DropDownWrapper">
    <SfDropDownList TItem="Country"
                    TValue="string"
                    DataSource="@countries"
                    Placeholder="Select a country"
                    PopupHeight="200px"
                    PopupWidth="250px">
        <DropDownListFieldSettings Text="CountryName" Value="CountryId"></DropDownListFieldSettings>
    </SfDropDownList>
</div>

<div>
        <SfGrid ID="CityGrid"
                DataSource="@cities"
                AllowSorting="true"
                AllowResizing="true"
                Height="200">

            <GridColumns>
                <GridColumn Field="@nameof(City.CityName)"
                            HeaderText="City Name"
                            TextAlign="@TextAlign.Left"
                            Width="50">
                </GridColumn>
                <GridColumn Field="@nameof(City.CityPopulation)"
                            HeaderText="Population"
                            Format="n"
                            TextAlign="@TextAlign.Right"
                            Width="50">
                </GridColumn>
            </GridColumns>
        </SfGrid>
</div>

<style>
    .DropDownWrapper {
        width: 250px;
    }
 </style>

@code {
    List<Country>? countries;
    List<Country>? countriesUnordered;
    List<City>? cities;

    protected override async Task OnInitializedAsync()
    {
        //Populate the list of countries objects from the Countries table.
        await CountryService.GetCountries();
        countriesUnordered = new();
        foreach (var country in CountryService.Countries)
            countriesUnordered.Add(country);

        countries = countriesUnordered.OrderBy(c => c.CountryName).ToList();
    }
}